<div class="taco">
  <div class="taco-title">
  <p><span class="label">Taco:</span> {{this.taco_name}}</p>
  </div>
  {{#if eaten}}
    <div data-id="{{this.id}}" class="taco-button clearTaco">Remove</div>
  {{else}}
    <div data-id="{{this.id}}" class="taco-button eatTaco">EAT</div>
  {{/if}}
</div>