<h2>TacoTime!</h2>

<ul>
 {{#each tacos}}
    <li>
      <p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Taco Name:</span> {{this.taco_name}}</p>
      <p><span class="label">Eaten:</span> {{this.eaten}}</p>
    </li>
  {{/each}}
</ul>


<form class="add-taco">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <button type="submit">Add Taco</button>
</form>


