<div id="left"></div>
<div id="right"></div>
<div id="bottom"></div>

<header id="top">

  <h2>TacoTime!</h2>

  <form class="add-taco">
    <button type="submit">Add Taco</button>
    <div class="form-group">
      <input type="text" id="name" name="name" placeholder="Add taco..." />
    </div>
  </form>

</header>



<main>

 <div class="cool-header"><h3>Eat Me!</h3></div>
  
  <div class="panel">


    <div class="panel-title">
      <h3>Eat Me!</h3>
    </div>

    {{#each tacos}}
      {{#unless eaten}}
         {{> taco-item eaten=false}}
      {{/unless}}
    {{/each}}

  </div>
  <div class="panel">
    <div class="panel-title">
      <h3>Tacos you've eaten!</h3>
    </div>
    {{#each tacos}}
      {{#if eaten}}

        {{> taco-item eaten=true}}
      {{/if}}
    {{/each}}

  </div>

</main>