body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffc3aa;
  margin: 0;
}

h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  text-align: center;
  color: #ff5252;
  text-shadow: 1px 2px 0px #8b272d;
}

p {
  margin: 0px;
}

.taco {
    background: #fd6872;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 50px;
    overflow: hidden;
}
.taco-button {
  background: #2196f3;
  height: 100%;
  width: 50px;
  float: right;
}

.taco-title {
  float: left;
}