body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffc3aa;
  margin: 0;
}

h2 {
  margin: 0px;
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  text-align: center;
  color: #ff5252;
  text-shadow: 1px 2px 0px #8b272d;
}

p {
  margin: 0px;
}
/*.content {

}*/

.white-border {
  background-color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height:100vh;

}

.inside {
  width: 100%;
  background-color: #c0dfcf; 
  height: calc(100vh - 40px); 
}

.header {
  background-color: #fff; 
  width: 100%;
  height: 150px;
}


.taco {
  background: #fd6872;
  width: 250px;
  margin: 5px auto;
/*  border-radius: 4px;*/
  height: 50px;
  overflow: hidden;
}
.taco-button {
  background: #2196f3;
  height: 100%;
  width: 50px;
  float: right;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}

.taco-title {
  float: left;
}

.container {
  background-color: red;
  width: 800px;
  margin: auto;
}

.panel {
  float: left;
  width: 400px;
  background-color: blue;
}


/*#top, #bottom, #left, #right {
  background: #a5ebff;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }*/